$icon-transition-time: 1.0s;
$github-color: #343434;
$linkedin-color: #0073a4;

@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  &:hover{
    color: $color;
  }
}

.fa-github {
  padding: 5px;
  @include social-media-icon($github-color, $icon-transition-time);
}

.fa-linkedin {
  padding: 5px;
  @include social-media-icon($linkedin-color, $icon-transition-time);
}
